<section>
  <div class="post contain">
      <h1 class="external">
      </h1>
      <ul>
        <fieldset>
          <li>
            <%= post.title %>
          </li>
          <li>
            <%= link_to post.slug, post_path(post), method: :delete %>
          </li>
      </ul>
  </div>
</section>
