<div class="contentcontainer">
  <h2>Welcome Administrator <%= current_user.username %></h2>

  <div class="userposts">
    <h3>Users Blog Posts</h3>
    <div>
      <%= render :partial => "admin", :collection => @posts, :as => :post %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
