// HEADER

.header {
  @include outer-container;
  color: black;
  margin-top: 0em;
  font-size: 1em;

  .title {
    margin-left: 10em;
    padding-bottom: 1.5em;
  }
  .navigation {
    @include align-items(center);
    @include display(flex);
    margin-left: 10em;
    padding-bottom: (10 / 2);
    padding-top: (10 / 2);
    width: 65%;
    border-style: solid;
  }
  .login {
    li {
      display: inline-block;
      margin-left: (4em / 2);
      padding-right: .3em;
      padding-left: .3em;
    }
  }
  a {
    color: black;
    font-size: 1.2em;
    &:hover {
      color: white;
    }
  }
}

// BODY

body {
  @include linear-gradient(to left, orange, blue);
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
  color: black;
}

// Containers for User / Dashboard / Admin

.container {
  @include outer-container;
  padding-top: 2em;
  padding-bottom: 2em;
}

.innercontainer {
  margin-left: 30em;
  padding-top: 3em;

  fieldset {
    border-color: black;
    width: 70%;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  form {
    width: 58%;
  }
}
.contentcontainer {
  margin-left: 10em;
  padding-top: 3em;

  .links {
    margin-left: 28em;
    a {
      color: darkblue; 
    }
  }
  h2 {
    margin-left: 8em;
    padding-bottom: 1em;
  }
  .editaccount {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .userposts {
    margin-left: 13em;
  }
  fieldset {
    border-color: black;
    width: 70%;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  form {
    width: 58%;
  }
}

// Posts

.postcontainer {
  padding-top: 3em;
}

.searchcontainer {
  margin-left: 11em;
  padding-top: 3em;
}

.postscontent {
  padding-top: 3em;
  padding-bottom: 2em;

  .showpost {
    margin-left: 10em;
  }
}

// SideBar

.sidebar {
  position: fixed;
  top: 4em;
  left: 1em;
  font-style: bold;
  font-size: 1em;

  li {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h4 {
    padding-top: 3em;
    font-size: 1em;
  }
}
